#graficoDonut {
    width: 200px;   /* Change the value as per your need */
    height: 200px;  /* Change the value as per your need */
}

.container-grafico {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.legenda {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.legenda-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-family: Verdana, sans-serif;
}

.legenda-icone {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.indicador-progresso {
    background-color: #00a1ff;
}

.indicador-total {
    background-color: #ccc;
}

#porcentagemTexto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-230%, -40%) scale(1.3);
    font-size: 24px;  /* Adjust as needed */
    font-weight: bold;  /* Adjust as needed */
    text-align: center;
}